html
{
	background-image:  url("../img/kitty.png");
}

#sidebar{
	width: 20%;
	height: 100%;
	border: solid black 1px;
	border-left: none;
	position: fixed;
	background-color: rgb(216,87,114);
	color: black;
	margin-left: 5%
}

#main{
	width: 70%;
	height: 100%;
	margin-left: 30%;
	
}

.post{
	width: 700px;
	height: 225px;
	margin-left: 10%;
	margin-bottom: 50px;
	border: solid black 5px;
	background-color: white;
}

.thumbnail{
	height: 80%;
	width: 270px;
	margin-left: 10px;
	margin-top: 22px;
	margin-right: 10px;
	float: left;
}

.post-header{
	width: 395px;
	margin-left: 5px;
	float: left;
	margin-bottom: 0px;
}

.post-data{
	color: gray;
	font-size: 12px;
	margin-left: 10px;
	margin-right: 50px;
	float: left;
}

.date{
	margin-left: 10px;	
}

.preview{
	float: left;
}

.content{
	float: right;
	width: 400;
	margin-right: 10px;
}