#container
{
	width: 400px;
	height: 400px;
}








.box_big
{
	height: 110px;
	width: 110px;
	position: relative;
	margin: 10px;
	float:left;
}







.box_small
{
	height: 70px;
	width: 70px;
	border: 1px solid black; 
	position: absolute;
	bottom: 0px;
}

.content
{
	color: white;
	margin-top: 10px;
	margin-left: 10px;
}

#box_red
{
	background: #D84231;
}

#box_ora
{
	background: #EAAE33;
}

#box_yel
{
	background: #FCF733;
}

#box_grn
{
	background: #578C05;
}

#box_blu
{
	background: #234AFB;
}

#box_vio
{
	background: #DF8BF0;
}






img
{
	position: absolute;
	right: 0px;
}