/*GENERAL STYLES*/
button#goto_top
{
	position: fixed;
	margin-left: 98%;
	margin-top: 730px;
	z-index: 100;
	/*float:right;*/
}

.buffer-20
{
	margin-top: 20px;
}

.borderline
{
	border-left: solid 5px rgb(6, 68, 0);
	border-bottom: solid 5px rgb(6,68,0);
}

.center
{
	margin-left: 40%;
}

.underline
{
	text-decoration: underline;
}

.big_space
{
	margin: 30px;
}

#sidebar
{
	font-family: 'Krona One', sans-serif;
	background-image: url("../img/escheresque_ste.png");
	color: #EEEEEE;
	height: 100%;
	width: 15%;
	position: fixed;
	/*margin: 10px;*/
}

a:link
{
	color: #EEEEEE;
}

.mid
{
	margin-left: 15%;
	/*position: relative;*/
}

.jumbotron
{
	color: rgb(6, 68, 0);
	background-color: rgb(240, 238, 232);
	border: solid black 1px;
}

.li
{
	font-size: 16;
	padding-bottom: 10px;
}

.ul
{
	font-size: 22;
	text-decoration: underline;
}

/*RESUME STYLES*/
.resume
{
	background-image: url("../img/swirl_pattern.png");
	color: rgb(6, 68, 0);
}


#res_head
{
	background-image: url("../img/Resume/masada_sun.jpg");
	height: 100%;
	color: rgb(252, 252, 194);
}
/*PORTFOLIO STYLES*/
.port
{
	background-image: url("../img/purty_wood.png");
	color: rgb(160, 53, 53);
	text-outline: 2px 2px black;
}

#prof_pic
{
	margin-left: 5%;
}

#jumbo_bat
{
	background-image: url("../img/bat_beard1.jpg");
	height: 295px;
	width: 1204px;
}

.port_works
{
	margin: 20px;
	border: solid black 5px;
}

.port_about
{
	background: url("../img/pool_table.png");
	color: rgb(224, 224, 80);
}